---
layout: layouts/base.njk
eleventyNavigation:
  key: Research
  order: 2
---
<h1>Research</h1>

<h2>Nuclear Canada</h2>

<p>My current research examines the history of uranium mining in Canada, specifically on Dene, Cree, and Métis territory in Northern Saskatchewan. Currently, uranium from this territory forms all of Canada's uranium exports, which rank &#35;2 in global production. Current and future uranium extraction is surrounded by 37 abandoned uranium mines and mills. Historical mining is felt in the present including in thousands of tonnes of radioactive waste; in the legacies of corporate, government, and university administration; and in scientific knowledge and regulations that constrain and enable new uranium developments. I use the tools of history of science and technology to study the legacies of this mining, with a focus on how uranium activity shaped, and was shaped by, Canada's colonial occupation of Indigenous territory.<p>

<h2>Humanities and Computing</h2>

	<p>My research on uranium mining led me to consider the history of radiation health <em>data</em>. One question I ask is "who counts?" Which bodies get counted when global standards for radiation protection are established? Another question is about the scientific practices of data analysis. How to epidemiological practices like data linkage intersect with <a href="https://www.wellesleyinstitute.com/publications/first-peoples-second-class-treatment/" alt="Report by Dr. Billie Allan and Dr. Janet Smylie">Canada's colonial data regestries?</a> This research analyzes the pre-history of today's "Big Data" infrastructure. I am also exploring the possibility of using digital tools, such as text data analytics, to analyze the historical archives of uranium production.</p>
	<p>Earlier, in a history of "Landauer's Principle" in information theory, I analyzed how <a href="/blog/Wright2016Forgetting/" title="The Physics of Forgetting">how computer memory came to forget</a>. I was interviewed about this work in the June 2021 edition of the <a href="https://doi.org/10.1145/3460214"><em>Communications of the ACM</em></a>.</p>

<h2>History of Theoretical Physics</h2>

<p>Why do physicists <a href="/blog/Wright2014Advantages/">draw</a> <a href="/blog/Wright2013Origins/">pictures</a>? How has <a href="/blog/Wright2016Beautiful/">beauty</a> and aesthetics shaped the development of physical theory? And, how did it come to be that so many physicists believe that nothingness&mdash;<a href="/blog/Wright2024MTN/">empty space, the vacuum</a>&mdash;is an active thing in the world? I use detailed studies of physicists archives to investigate these questions, and others that relate the practice of physics to its cultural context.</p>

<p>In 2020 was interviewed about my work on Roger Penrose and black holes in <a href="https://doi.org/10.1063/PT.3.4628"><em>Physics Today</em></a></p>

<h2>Recent Posts</h2>

{% set postslist = collections.research %}
{% include "postslist.njk" %}
