{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"> 
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<div class="postlist-image-container">
		<p><time class="postlist-date" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate("LLLL yyyy") }}</time></p>
		{% if post.data.img %} 
		{%- set alt = post.data.description %}
		{% image post.data.img,  post.data.description, widths, sizes  %}
		{% endif %}
		</div>
	</li>
{% endfor %}
</ol>
{# <a href="{{ post.url }}"> </a>
{% imageShortcode ../public/{{ post.data.img }}, {{ post.data.description }}, [860, 1200], "(max-width: 860) 80vw, (max-width: 1200) 33vw" %} #}